<div class="container">

<h1>Your Zoos</h1>

	<% @user.zoos.each do |zoo| %>
		<li>Name:  <%= zoo.name %>
			<br>
			Location: <%= zoo.location %></li>
				<br>
				<form action="/zoos/<%=zoo.id%>/animals" method="GET">
					<input type="submit" value="Visit this Zoo">
				</form>
				
				<form action="/zoos/<%=zoo.id%>/edit" method="GET">
					<input type="submit" value="Edit this Zoo">
				</form>

				<form action="/zoos/<%=zoo.id%>" method="POST">
					<input type="hidden" value="DELETE" name="_method">
					<input type="submit" value="Delete this Zoo">
				</form>
	
	<% end %>

	<form action="/zoos/new" method="GET">
		<input type="submit" value="Make a Zoo">
	</form>

	<form action="/logout" method="GET">
		<input type="submit" value="Logout">
	</form>

</div>